* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  background-color: #abc9e9;
  
}

p {
  font-family: 'Bebas Neue', cursive;
  color:#fff;
  font-size: 1.5rem;
}

/** Nav bar**/

.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-size:3rem;
  letter-spacing: 1.5;
  color: #fff;
  display: inline;
  margin-top: 15px;
  margin-left: 8px;
  float: left;
  text-decoration: none;
}

/* logout btn */
#logoutBtn {
  border-radius: 4px;
  background-color: #fff;
  border: none;
  color: #000;
  text-align: center;
  font-size: 1.2rem;
  padding: 12px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 8px;
  float: right;
}

#logoutBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#logoutBtn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#logoutBtn:hover {
  background-color: brown;
}

#logoutBtn:hover span {
  padding-right: 25px;
}

#logoutBtn:hover span:after {
  opacity: 1;
  right: 0;
}

/* form */

/* #greeting {
  text-align: center;
  margin-top: 10px;
<<<<<<< HEAD
  padding-top: 5px;
  background-color:whitesmoke;
  border-radius: 30px;
  
  
=======
  padding: 25px;
  background-color: whitesmoke;
>>>>>>> 20a0c98ff52dcdfd1e2f21c20ffc27e68c2d559e
}

.formHeading {
  text-decoration: underline;

}

#greetingPost {
  text-align: justify;
  display: flex;
  border: 2px solid black;
}

#habitName {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#frequency {
  font-size: 1.2rem;
  margin-top: 10px;
}

#createPost {
  width: 100px;
  height: 35px;
  font-size: 1.2rem;
  background-color: #caefd7;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
} */
/* form opt-2 */
/* input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #000;
  font-size: 1.2rem;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 20px;
}

input[type=submit]:hover {
  background-color: #fff;
  color: #000;
}

#greeting {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
} */

/* form opt-3*/
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  font-weight: 100;

}

#cardImg {
  opacity: 0.8;
  border-radius: 10px;
 
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-bottom: 150px;
  transform: translate(-50%, -250%);
  letter-spacing: 2.5;
  
}
/*backend*/
#greetingPost {
  display: flex;
  flex-direction: column;
  
}
.habit-container {
  
  padding: 0 50px;
  gap: 0 50px;
  justify-content: center;
}

.habit-name {
  font-size: 1.2rem;
}

.habit-information {
  font-size: 1.2rem;
}

.habit-footer {
  
  gap: 0 50px;
} 

/** media query**/
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }


#greetingPost {
  text-align: center;
}
/* form opt-3*/
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  font-weight: 100;

}

#cardImg {
  opacity: 0.8;
  border-radius: 10px;
  width: 50%;
  height: 50%;
 
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-bottom: 150px;
  transform: translate(-50%, -50%);
  letter-spacing: 2.5;
  
}
}
