.content {
    flex-direction: column;
}

.headiing {
    display: block;
    width: 100%;
}

.formHeading {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
#greetingPost {
    display: flex;
    width: 100%;
    gap: 2rem;
    padding-inline: 20px;
    flex-wrap: wrap;
}

.habit-container {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background-color: #f6f4fc;
    padding: 15px;
    font-family: inherit;
}

.habit-container .habit-name {
    font-size: 1.5rem;
}
.complete-button {
    outline: none;
    border: none;
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 12px;
    background-color: blueviolet;
}

/* backend css

.habit-container {
 display: flex;
}

.habit-header {

}

.habit-name {

}

.habit-body {

}

.week-complete-button {

}
 .habit-footer {

 } */
